---
layout: default
title: PPP Makers
---
<article class="post post-articles">
  <header class="post-header clearfix">
{% include description.html %}
  </header>
  <!-- Tags -->

  {% include tags.html %}
  <div class="post-content holder">

    {%- assign products = site.products | sort: 'date' | reverse %} {%- for product in products %}
    <!-- Block -->
    <a class="block block-ds{% for item in product.tags %} {{ item }}{% endfor %}" href="{{ product.link }}" title="{{ product.title }}"
      target="_blank">
      <div class="img-wrap">
          <img src="{{ site.baseurl }}/images/loader-ds.gif" data-echo="{{ site.baseurl }}/images/makers/{{ product.image }}" alt="{{ product.title }}" width="800" height="400" />
        </div>
      <div class="content">

        <h3>{{ product.author }}</h3>
        <h2>{{ product.title }}</h2>
        <p class="clamp">{{ product.description }}</p>
        <span class="date">{{ product.date | date: '%B %d, %Y' }}</span>
      </div>
    </a>
    {% endfor %}
  </div>

</article>