<div class="post-head-wrap">
    <p><strong>What?</strong><br>On this website I showcast makers that account for <strong>Purchasing Power Parity</strong> based on location. Not every person looking to grow, lives in a country with great <a href="https://www.numbeo.com/cost-of-living/rankings_by_country.jsp" rel="noopener" target="_blank">global purchasing power</a>. </p>
    <p><strong>Why?</strong><br>The makers featured on this page get this and make their products more affordable based on the location the user is from.</p>
    <p><strong>How?</strong><br>Want to be featured here? Send me a tweet/DM on my Twitter <a href="https://twitter.com/NechitaGabriel" title="My Twitter">(@NechitaGabriel)</a> with your thing and a description, and I'll take a look
      .</p>
</div>