<div class="description">
    <div class="post-head-wrap">
        <div>
            <h3>What is PPPMakers?</h3>
            <p>We feature courses or products discounted according to the customer’s
                <strong>Purchasing Power Parity</strong>. Part of your audience might live in a country which isn't a great
                <a href="https://www.numbeo.com/cost-of-living/rankings_by_country.jsp" rel="noopener" target="_blank">global purchasing power</a>.</p>
        </div>
        <div>
            <h3>Why would I discount my products?</h3>
            <p>People who can’t afford to pay for products might end up getting a copy by other means, which can translate for
                you in lost sales. As such, we're trying to help makers expand their customer base by adopting a new pricing
                strategy.
            </p>
        </div>
        <div>
            <h3>How do I get my product featured?</h3>
            <p>Looking to have your product featured on PPPMakers? Drop us a tweet/DM on
                <a href="https://twitter.com/NechitaGabriel" title="My Twitter">(@NechitaGabriel)</a> with your product and a brief description and we'll get back to you ASAP.</p>
        </div>
    </div>
</div>