<!-- Footer -->
<footer class="footer-wrap">
  <span class="footer-border"></span>
  <div class="footer">
    <span>PPP Makers is curated by <a href="https://twitter.com/NechitaGabriel">Gabriel Nechita</a>.</span>
    <div class="coffee">
      <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/nechita">
      <img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy us a coffee">
      <span style="margin-left:5px; color: #ffffff">Buy us a coffee</span></a>
    </div>
  </div>
</footer>
<!-- Begin of Chaport Live Chat code -->
<script type="text/javascript">
  (function(w,d,v2){
  w.chaport = { app_id : '5b6fa017b46f3d6377b1a2ea' };

  v2=w.chaport;v2._q=[];v2._l={};v2.q=function(){v2._q.push(arguments)};v2.on=function(e,fn){if(!v2._l[e])v2._l[e]=[];v2._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
  </script>
  <!-- End of Chaport Live Chat code -->