<!-- Footer -->
<footer class="footer-wrap">
  <span class="footer-border"></span>
  <div class="footer">
    <span>PPP Makers is curated by <a href="https://twitter.com/NechitaGabriel">Gabriel Nechita</a>.</span>
    <div class="coffee">
      <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/nechita">
      <img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy us a coffee">
      <span style="margin-left:5px; color: #ffffff">Buy us a coffee</span></a>
    </div>
  </div>
</footer>
{% include chat.html %}