<!-- Header -->
<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%} {%- assign page_paths = site.header_pages | default: default_paths
    %}

    <div class="header-inner">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}" title="PPP Makers">
        <img class="logo" src="/images/logo_pppmakers.svg" alt="PPP Makers">
      </a>

      <button class="pull lines-button" type="button" role="button" aria-label="Toggle Navigation">
        <span class="lines"></span>
      </button>
    </div>

    {% if page_paths -%}
    <nav class="responsive-nav">
      <ul class="nav">
        <li>
          <a href="{{site.baseurl}}{{"/#makers"}}" {% if page.url =="/" %} class="active" {% endif %} title="Makers & Products">The List</a>
        </li>
        <li>
          <a href="{{site.baseurl}}{{"/why"}}" {% if page.url =="/why/" %} class="active" {% endif %}
            title="Why would you do that?">Why?</a>
        </li>
        <li>
          <a href="{{site.baseurl}}{{"/about/"}}" {% if page.url=="/about/" %} class="active" {% endif %} title="About">About</a>
        </li>
        <li>
          <a class="submit" href="https://twitter.com/NechitaGabriel/status/1027120403842564096" target="_blank" title="Submit a PPP Maker">
            <span>Submit a PPP Maker</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g fill="none" fill-rule="evenodd">
                <circle cx="12" cy="12" r="12" fill="#76A2A3" />
                <polygon fill="#000" fill-rule="nonzero" points="13 6 11 6 11 11 6 11 6 13 11 13 11 18 13 18 13 13 18 13 18 11 13 11" />
              </g>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    {%- endif %}
  </div>

</header>